<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>StackOverflow Extractor</title>

    <script th:src="@{jquery-1.12.4.min.js}"></script>
    <script th:src="@{jquery-ui.min.js}"></script>
    <link rel="stylesheet" th:href="@{jquery-ui.css}"/>
    <link rel="stylesheet" th:href="@{bootstrap.min.css}"/>
    <style>
        .table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
            background-color: #d8d9de;
        }
    </style>
</head>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">StackOverflow Extractor</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="/index">Home</a></li>
            <li><a href="/settings">Settings</a></li>
            <li><a href="/newest">Newest</a></li>
            <li><a href="/mostvoted">Most Voted</a></li>
            <li><a href="/questions">Parametrics</a></li>
        </ul>
    </div>
</nav>
<br>
<br>
<div class="container text-center pagination-centered">
    <div class="page-header">
        <h3><span style="color: chocolate;" th:text="${message}"></span></h3>
    </div>
    <pre style="font-size: medium; font-family: inherit;">
        This demo is provided using <i>Java</i> programming language and is based on <i>Spring Boot</i> framework.
        The template engine for generating web pages is <i>Thymeleaf</i>.

        As the task description dictates, you can see too menus <i>Newest</i> and <i>Most Voted</i> which their goal
        is to show top 10 newest and top 10 most voted <i>Android</i> questions from <i>StackOverflow</i> website respectively.

        Our demo uses <i>JSoup</i> -which is a powerful Java library- to extract information from
        pages of <i>stackoverflow.com</i> website
    </pre>
    <br/>
    <img src="imgs/java.jpg" style="width: 150px; height: 150px">
    <img src="imgs/springboot.png" style="width: 150px; height: 150px">
    <img src="imgs/jsoup.png" style="width: 150px; height: 150px">
</div>
<br>
<footer class="footer navbar-inverse navbar-fixed-bottom">
    <div class="container text-center pagination-centered text-muted">
        @Copyright 2019 Hamed Mirzaei
    </div>
</footer>

</body>
</html>