<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>StackOverflow Extractor</title>

    <script th:src="@{jquery-1.12.4.min.js}"></script>
    <script th:src="@{jquery-ui.min.js}"></script>
    <link rel="stylesheet" th:href="@{jquery-ui.css}"/>
    <link rel="stylesheet" th:href="@{bootstrap.min.css}"/>
    <style>
        .table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
            background-color: #d8d9de;
        }
        .mymiddle {
            vertical-align: middle !important;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">StackOverflow Extractor</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/">Settings</a></li>
            <li class="active"><a href="/newest">Newest</a></li>
            <li><a href="/mostvoted">Most Voted</a></li>
        </ul>
    </div>
</nav>
<br>
<br>
<div class="container pagination-centered">
    <div class="page-header text-center">
        <h3><span th:text="${message}"></span></h3>
    </div>
    <table class="table table-striped table-bordered table-hover table-condensed">
        <tr class="text-center">
            <td colspan="3"><b>Question</b></td>
        </tr>
        <tr th:each="question,iterator: ${questions}">
            <td class="mymiddle" th:text="${iterator.index + 1}"></td>
            <td th:utext="'<b>Title:</b> ' + ${question.title} + '<br/> <b>Summary:</b> ' + ${question.summary}">Question</td>
            <td class="mymiddle"><a th:href="@{'/newest/' + ${question.id}}">view</a></td>
        </tr>
    </table>
</div>
<br>
<footer class="footer navbar-inverse navbar-fixed-bottom">
    <div class="container text-center pagination-centered text-muted">
        @Copyright 2019 Hamed Mirzaei
    </div>
</footer>

</body>
</html>