<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>StackOverflow Extractor</title>

    <script th:src="@{../jquery-1.12.4.min.js}"></script>
    <script th:src="@{../jquery-ui.min.js}"></script>
    <link rel="stylesheet" th:href="@{../jquery-ui.css}"/>
    <link rel="stylesheet" th:href="@{../bootstrap.min.css}"/>
    <style>
        .table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
            background-color: #d8d9de;
        }
    </style>
</head>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">StackOverflow Extractor</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/">Settings</a></li>
            <li th:class="${newest}? 'active' : 'normal'"><a href="/newest">Newest</a></li>
            <li th:class="${mostvoted}? 'active' : 'normal'"><a href="/mostvoted">Most Voted</a></li>
        </ul>
    </div>
</nav>
<br>
<br>
<div class="container text-center pagination-centered">
    <div class="page-header">
        <h3><span th:text="${question.title}"></span></h3>
    </div>
    <div class="col-md-3 form-group text-left pull-left">
        <h4><b><span>Statistics</span></b></h4>
        <span th:text="${question.stats.votes} + ' votes'"></span><br/>
        <span th:text="${question.stats.answers} + ' answers'"></span><br/>
        <span th:text="${question.stats.views} + ' views'"></span><br/>
        <span th:text="${question.stats.answerAccepted}? 'Answer Accepted' : 'No Accepted Answer'" th:class="${question.stats.answerAccepted}? 'label label-success' : 'label label-danger'"/><br/>
        <hr/>

        <h4><b><span>Tags</span></b></h4>
        <div th:each="tag: ${question.tags}">
            <span th:text="${tag.name}" class="label label-info"/>
        </div>
        <hr/>

        <h4><b><span>Users</span></b></h4>
        <div th:each="userInfo: ${question.userInfos}">
            <b><span class="label label-primary" th:text="${userInfo.userName}"/></b><br/>
            <span th:text="${'Reputation Score: ' + userInfo.reputationScore}"/><br/>
            <span th:text="${'Gold Badges: ' + userInfo.goldBadges}"/><br/>
            <span th:text="${'Silver Badges: ' + userInfo.silverBadges}"/><br/>
            <span th:text="${'Bronze Badges: ' + userInfo.bronzeBadges}"/><br/>
            <span th:text="${'Action Time: ' + userInfo.actionTime}"/><br/>
        </div>

    </div>
    <div class="col-md-9 form-group">
        <span>Full Body</span>
    </div>
    <span class="clearfix"/>
</div>
<br>
<footer class="footer navbar-inverse navbar-fixed-bottom">
    <div class="container text-center pagination-centered text-muted">
        @Copyright 2019 Hamed Mirzaei
    </div>
</footer>

</body>
</html>