<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>StackOverflow Extractor</title>

    <script th:src="@{jquery-1.12.4.min.js}"></script>
    <script th:src="@{jquery-ui.min.js}"></script>
    <link rel="stylesheet" th:href="@{jquery-ui.css}"/>
    <link rel="stylesheet" th:href="@{bootstrap.min.css}"/>
    <style>
        .table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
            background-color: #d8d9de;
        }
        .textleft {
            text-align: left !important;
        }
    </style>
</head>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">StackOverflow Extractor</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/index">Home</a></li>
            <li class="active"><a href="/settings">Settings</a></li>
            <li><a href="/newest">Newest</a></li>
            <li><a href="/mostvoted">Most Voted</a></li>
            <li><a href="/questions">Parametrics</a></li>
        </ul>
    </div>
</nav>
<br>
<br>
<div class="container text-center pagination-centered">
    <div class="page-header">
        <h3><span style="color: chocolate;" th:text="${message}"></span></h3>
    </div>
    <form class="form-horizontal" action="#" th:action="@{/settings}" th:object="${settings}" method="post">
        <div class="form-group">
            <label class="control-label col-md-offset-4 col-md-2 textleft" for="questionTopic">Questions Topic:</label>
            <div class="col-md-2">
                <input id="questionTopic" type="text" th:field="*{questionTopic}" class="form-control pull-left" name="questionTopic" placeholder="Like android">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-offset-4 col-md-2 textleft" for="sel1">Question Type:</label>
            <div class="col-md-2">
                <select class="form-control" th:field="*{questionType}" id="sel1">
                    <option value="Newest">Newest</option>
                    <option value="Featured">featured</option>
                    <option value="Frequent">Frequent</option>
                    <option value="Votes">Votes</option>
                    <option value="Active">Active</option>
                    <option value="Unanswered">Unanswered</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-6 col-md-2">
                <input type="submit" class="btn btn-success" value="Submit" />
                <input type="reset" class="btn btn-info" value="Reset" />
            </div>
        </div>
    </form>
</div>
<br>
<footer class="footer navbar-inverse navbar-fixed-bottom">
    <div class="container text-center pagination-centered text-muted">
        @Copyright 2019 Hamed Mirzaei
    </div>
</footer>

</body>
</html>